<section class="legal" id="privacy">
<div class="contentArea">
<h1 class="txtC">個人情報保護方針</h1>
<p>当社は、当社が取り扱う全ての個人情報の保護について、社会的使命を十分に認識し、本人の権利の保護、個人情報に関する法規制等を遵守します。また、以下に示す方針を具現化するための個人情報保護マネジメントシステムを構築し、最新のＩＴ技術の動向、社会的要請の変化、経営環境の変動等を常に認識しながら、その継続的改善に、全社を挙げて取り組むことをここに宣言します。</p>
<h2>１．個人情報保護の基本方針</h2>
<ul class="lv2 mb20">
<li>個人情報は、プログラミング学習サービス業務における当社の正当な事業遂行上及び従業員の雇用、人事管理上必要な範囲に限定して、取得・利用及び提供をし、特定された利用目的の達成に必要な範囲を超えた個人情報の取扱い（目的外利用）を行いません。また、目的外利用を行わないための措置を講じます。</li>
<li>個人情報保護に関する法令、国が定める指針及びその他の規範を遵守いたします。</li>
<li>個人情報の漏えい、滅失、棄損き損などのリスクに対しては、合理的な安全対策を講じて防止すべく事業の実情に合致した経営資源を注入し個人情報セキュリティ体制を継続的に向上させます。また、個人情報保護上、問題があると判断された場合には速やかに是正措置を講じます。</li>
<li>個人情報取扱いに関する苦情及び相談に対しては、迅速かつ誠実に、適切な対応をさせていただきます。</li>
<li>個人情報保護マネジメントシステムは、当社を取り巻く環境の変化を踏まえ、適時・適切に見直してその改善を継続的に推進します。</li>
</ul>
<p class="txtR mb40">
制定年月日 2018年12月28日<br>
最終改正年月日 2019年6月4日<br>
株式会社侍<br>
代表取締役社長 木内 翔大
</p>
<h2>２．当社が取り扱う個人情報の利用目的</h2>
<ul class="lv2">
<li>
ご本人様から直接書面によって取得する個人情報（ホームページや電子メール等によるものを含む）の利用目的<br>
取得に先立ち、ご本人様に対し書面により明示します。
</li>
<li>
前項以外の方法によって取得する個人情報の利用目的
<table>
<thead>
<tr>
<th>分類</th>
<th>利用目的</th>
</tr>
</thead>
<tbody>
<tr>
<td>個人のお客様情報</td>
<td>
ユーザー様サポートのため<br>
ご利用履歴管理のため<br>
当社サービスのご案内のため<br>
お問合せ対応のため
</td>
</tr>
<tr>
<td>お取引先担当者様情報</td>
<td>発注内容確認のため（通信記録等）</td>
</tr>
<tr>
<td>業務の受託に伴い、お客様からお預かりする個人情報</td>
<td>委託された当該業務を適切に遂行するため</td>
</tr>
</tbody>
</table>
</li>
</ul>
<h2>３．保有個人データに関する事項の周知</h2>
<ul class="lv2">
<li>事業者の名称<br>株式会社侍</li>
<li>
個人情報の保護管理者
<table>
<tbody>
<tr><td>管理者名</td><td>橋本 伸也</td></tr>
<tr><td>所属部署</td><td>コンサルティング部</td></tr>
<tr><td>連絡先</td><td>メールアドレス：support@sejuku.net<br>TEL：03-5790-9039</td></tr>
</tbody>
</table>
</li>
<li>
全ての保有個人データの利用目的
<table>
<thead>
<tr><th>分類</th><th>利用目的</th></tr>
</thead>
<tbody>
<tr>
<td>個人のお客様情報</td>
<td>ユーザー様サポートのため<br>ご利用履歴管理のため<br>当社サービスのご案内のため<br>お問合せ対応のため</td>
</tr>
<tr>
<td>お取引先担当者様情報</td>
<td>発注内容確認のため（通信記録等）</td>
</tr>
<tr>
<td>当社従業員情報</td>
<td>社員の人事労務管理、業務管理、健康管理、セキュリティ管理のため</td>
</tr>
<tr>
<td>当社への採用応募者情報</td>
<td>採用応募者への連絡と当社の採用業務管理のため</td>
</tr>
<tr>
<td>人材紹介事業に関する求職者情報</td>
<td>求職者への連絡のため<br>人材紹介業務遂行のため</td>
</tr>
<tr>
<td>特定個人情報</td>
<td>番号法に定められた利用目的のため</td>
</tr>
</tbody>
</table>
</li>
<li>保有個人データの取扱いに関する苦情の申し出先<br>後記５記載のとおり</li>
</ul>
<h2>４．開示等のご請求手続き</h2>
<p class="mb20">当社で保有している保有個人データに関して、ご本人様又はその代理人様からの利用目的の通知、開示、内容の訂正、追加又は削除、利用の停止、消去及び第三者への提供の停止の請求（以下、「開示等の請求」といいます）につきましては、以下の要領にて対応させていただきます。</p>
<ul class="lv2">
 <li>開示等の求めの申し出先<br>開示等のお求めは、後記５記載の当社の個人情報問合せ窓口にお申し出ください。</li>
<li>
開示等の求めに関するお手続き
<ul class="lv1">
<li>お申し出受付け後、当社から、ご利用いただく所定の請求書様式「開示対象個人情報開示等請求書」を郵送いたします。</li>
<li>ご記入いただいた請求書、代理人様によるお求めの場合は代理人であることを確認する書類、手数料分の郵便為替（利用目的の通知並びに開示の請求の場合のみ）を個人情報問合せ窓口までご郵送ください。</li>
<li>上記請求書を受領後、ご本人様確認のため、当社に登録していただいている個人情報のうちご本人の確認が可能な2項目程度（例：電話番号と生年月日等）の情報をお問合せさせていただきます。</li>
<li>回答は原則としてご本人様に対して書面（封書郵送）にておこないます。</li>
</ul>
</li>
<li>
代理人様によるお求めの場合<br>
開示等をお求めになる方が代理人様である場合は、代理人である事を証明する資料及び代理人様ご自身を証明する資料を同封してください。各資料に含まれる本籍地情報は都道府県までとし、それ以降の情報は黒塗り等の処理をしてください。また各資料は個人番号を含まないものをお送りいただくか、全桁を墨塗り等の処理をしてください。
<ul class="lv1">
<li>
代理人である事を証明する資料
<table>
<tbody>
<tr>
<th>開示等の求めをすることにつき本人が委任した代理人様の場合</th>
<td>本人の委任状（原本）</td>
</tr>
<tr>
<th>代理人様が未成年者の法定代理人の場合</th>
<td>戸籍謄本<br>住民票（続柄の記載されたもの）<br>その他法定代理権の確認ができる公的書類<span>※いずれかの写し</span></td>
</tr>
<tr>
<th>代理人様が成年被後見人の法定代理人の場合</th>
<td>後見登記等に関する登記事項証明書<br>その他法定代理権の確認ができる公的書類<span>※いずれかの写し</span></td>
</tr>
</tbody>
</table>
</li>
<li>
代理人様ご自身を証明する資料
<ul class="lvdot">
<li>運転免許証</li>
<li>パスポート</li>
<li>健康保険の被保険者証</li>
<li>住民票</li>
</ul>
</li>
<li>利用目的の通知または開示のお求めについての手数料<br>1回のお求めにつき1000円<br>（お送りいただく請求書等に郵便為替を同封していただきます。）</li>
</ul>
</li>
</ul>
<h2>５．お問い合わせ窓口</h2>
<p class="mb20">
当社の個人情報保護方針に関するお問合せや、個人情報に関する訂正、利用停止、苦情、開示などは、下記窓口にて承っております。
</p><address>
株式会社侍 個人情報問合せ窓口<br>
〒150-0043 東京都渋谷区道玄坂2丁目11-1 Ｇスクエア渋谷道玄坂 4F<br>
<a href="mailto:support@sejuku.net">メールアドレス：support@sejuku.net</a><br>
 <a href="tel:0357909039">TEL：03-5790-9039</a>
</address>
<p></p>
</div>
</section>